Source: tg5g08newsfeed
Section: net
Priority: extra
Maintainer: Tom Gillespie <tg5g08@soton.ac.uk>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: https://github.com/info6005/6005_cw1_2012
#Vcs-Git: git://git.debian.org/collab-maint/info6005-cw1.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/info6005-cw1.git;a=summary

Package: tg5g08newsfeed
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: The tg5g08newsfeed
 This simple package will allow the user to type bbcnews 
 into the command line which will then allow them to view 
 the latest news feeds from the bbc website from within 
 the terminal, eliminating the need to navbigate to the 
 bbc website to find out the latest news.  
 

