Source: info6005-cw1-1.0
Section: net
Priority: extra
Maintainer: Tom Gillespie <tg5g08@soton.ac.uk>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: https://github.com/info6005/6005_cw1_2012
#Vcs-Git: git://git.debian.org/collab-maint/info6005-cw1.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/info6005-cw1.git;a=summary

Package: info6005-cw1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, php
Description: Simple php script which allows the user to host RSS feeds from the bbc website (http://feeds.bbci.co.uk/news/rss.xml).
 This simple web page will elimate the need for a user to visit the BBC
 webpage in order to view the latest news. The 'index.php' page runs
 a script from the 'rss_php.php' page in order to access the 
 latest news feeds.Therefore with this simple package you will be 
 able to have the latest news feeds from the bbc news 
 website displayed directly onto your site.

